  @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500&family=Swanky+and+Moo+Moo&display=swap');

body {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

/*-------------------------------------------------------- Navbar header */

.nav {
    min-height: 75px;
    background-color: #f2f2f2;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    margin: 0;
    padding: 0;
    text-align: center;
}

#title {
    font-size: 200%;
    letter-spacing: 1px;
    color: #525252;
}

#sub-title {
    letter-spacing: 2px;
    color: #bd1a1a;
}

.navbar-nav {
    font-size: 150%;
    letter-spacing: 2px;
}

.navbar-brand a:hover {
    text-decoration: none;
}

.navbar-nav a:hover {
    text-decoration: none;
    border-bottom: 1px solid #bd1a1a;
}
/*-------------------------------------------------------- Hero image */

#hero-image {
    height: 900px;
    width: 100%;
    margin: 0;
    padding-top: 75px;
    background: url("../images/main-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f2f2f2;
}

/*-------------------------------------------------------- About Us */

.about-us-section {
    width: 100%;
    background-color: #bd1a1a;
    text-align: center;
    margin: 0;
    padding: 20px;
} 

.shop-logo img {
    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-us {
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

.shop-front img {
    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





/*-------------------------------------------------------- Recent work */

.recent-work-heading {
    text-align: center;
}



/*-------------------------------------------------------- Testemonials */

.testemonials {
    text-align: center;
    color: #f2f2f2;
    background-color: #696766;
    margin: 0;
    padding-top: 20px;
}

.comments {
    text-align: center;
    color: #f2f2f2;
    background-color: #696766;
    margin-block-start: 0;
    padding: 20px;
}

/*-------------------------------------------------------- Footer */

footer {
    background-color: #f2f2f2;
    color: #525252;
    min-height: 150px;
    margin: 0;
}

#footer-details {
    padding: 10px;
}

.contact-us {
    text-align: center;
    padding-top: 5px;  
}

.contact-us a {
    color: #525252;
    
}

.contact-us a:hover {
    color: #bd1a1a;
    text-decoration: none;
}

.social {
    text-align: center;  
    padding-top: 40px; 
}

.social ul {
    padding: 0;
}

.social i {
    width: 100px;
    height: 100px;
    color: #525252;    
    padding-top: 15px;
    border-radius: 15%;
    font-size: 50px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social i:hover {
    color: #bd1a1a;
}

.opening-times {
    text-align: center;
    padding-top: 5px;
}

.opening-times li {
    list-style: none;
    padding-right: 40px;
}

/*-------------------------------------------------------- Media Queries */

@media (max-width: 576px) {
    #hero-image {
        height: 500px;
    }
}

@media (max-width: 992px) {
    .shop-front img {
        display: none;
    }
}

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}