  @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500&family=Swanky+and+Moo+Moo&display=swap');

body {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
}

/*-------------------------------------------------------- Navbar header */

.navbar {
    min-height: 75px;
    background-color: #f2f2f2;
}

.title {
    letter-spacing: 1px;
    font-size: 200%;
    float: left;
    color: #525252;
}

.nav-menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 2px;    
}

.nav-menu li {
    float: right;
    margin-right: 20px;    
}

.nav-menu a {
    color: #525252;
}

.navbar a:hover {
    color: #bd1a1a;
    text-decoration: none;
}

.navbar h2:hover {
    color: #bd1a1a;
    text-decoration: none;
}

.active {
    border-bottom: 1px solid #000;
}

/*-------------------------------------------------------- Hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/main-image.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
}

/*-------------------------------------------------------- Footer */

footer {
    background-color: #f2f2f2;
    color: #525252;
    min-height: 150px;
    margin: 0;
}

#footer-details {
    padding: 10px;
}

.contact-us {
    text-align: left;
    padding-top: 5px;
    padding-left: 15px;   
}

.contact-us a {
    color: #525252;
    
}

.contact-us a:hover {
    color: #bd1a1a;
    text-decoration: none;
}

.social {
    text-align: center;  
    padding-top: 40px; 
}

.social ul {
    padding: 0;
}

.social i {
    width: 100px;
    height: 100px;
    color: #525252;    
    padding-top: 15px;
    border-radius: 15%;
    font-size: 50px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social i:hover {
    color: #bd1a1a;
}

.opening-times {
    text-align: right;
    padding-top: 5px;
    padding-right: 15px;
}

.opening-times li {
    list-style: none;
}

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}